@import './base.css';

#app {
  font-weight: normal;
  height: 100vh;
  box-sizing: border-box;
}

div{
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
  padding: 0 10px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}